In [1]:
from sys import displayhook
from binance.client import Client
from binance.enums import *
import pandas as pd
import time
import datetime
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import pickle as pkl

In [2]:
api_key = 'ihvXWbHvvDrYuroIJOS9ANW6X7tv5OQSYibLLloKyIGui0w93Q5yUJOBZclnNL5D'
api_secret = 'uzmKBJ3lmVS4TsTl2AOHVJOYTFfLM5qrg00vAqUyTYbSjiy7BDPlTpaq2Oy7qdo2'
client = Client(api_key, api_secret)
db_data = 'mysql+mysqldb://' + 'admin' + ':' + '0323A8E3DB' + '@' + 'coin-database-1-instance-1.c9hqcydvu19f.us-east-1.rds.amazonaws.com' + ':3306/' + 'crypto_db' + '?charset=utf8mb4'
engine = create_engine(db_data)

check_date = pd.read_sql_query("SELECT MAX(date_request) FROM crypto_trend", engine) 
date_recent_checked = str(check_date.iloc[0, 0])

trend_table_status = pd.read_sql_query("show table status like 'crypto_trend'", engine)
trend_table_rowcount_old = trend_table_status['Rows'].values[0]

cryptoString = 'SELECT * FROM crypto'
crypto_table = pd.read_sql_query(cryptoString, engine)
full_id_list = crypto_table.id.astype(int).tolist()

In [3]:
start_string_close = "2022-04-03 12:00:00" ##used 11
start_string = "2022-04-03 14:00:00" # 2 hours more than close
end_string = "2022-04-14 21:00:00"
start_date = datetime.datetime.strptime(start_string, '%Y-%m-%d %H:%M:%S')
end_date = datetime.datetime.strptime(end_string, '%Y-%m-%d %H:%M:%S')

new_close_string = f"SELECT crypto_id, date, close FROM crypto_price WHERE date >= '{start_string_close}' AND date <= '{end_string}' ORDER BY date"
closes_all = pd.read_sql_query(new_close_string, engine)

new_trends_string = f"SELECT * FROM crypto_trend WHERE date_request > '{start_string}' AND date_request < '{end_string}' ORDER BY date_request, crypto_id, date"
new_trends_all = pd.read_sql_query(new_trends_string, engine)

In [21]:
maxholds = 3
buy_threshold = 60
sell_threshold = 10

trades = [[],[],[],[]]
tradedata = []
buyPrice  = [0] * (len(full_id_list))
sellPrice = [0] * (len(full_id_list))
tradeBuy  = [0] * (len(full_id_list))
tradeSell = [0] * (len(full_id_list))
buyTime   = [0] * (len(full_id_list))
sellTime  = [0] * (len(full_id_list))
holding = [False] * (len(full_id_list))
buy_ids = []

In [22]:
tradedata = []
for i in range(int((end_date - start_date).total_seconds()/3600)):
    date_lower = str(start_date + i*datetime.timedelta(hours=1))
    date_upper = str(start_date + (i+1)*datetime.timedelta(hours=1))
    date_price_lower = str(start_date + i*datetime.timedelta(hours=1) - datetime.timedelta(hours=5))
    ############################################ TESTING ONLY ##################################################################
    
    ##new_trends_string = f"SELECT * FROM crypto_trend WHERE date_request > '{date_lower}' AND date_request < '{date_upper}' ORDER BY date_request, crypto_id, date"
    ##new_trends = pd.read_sql_query(new_trends_string, engine)

    new_trends = new_trends_all.loc[(new_trends_all['date_request'] > date_lower) & (new_trends_all['date_request'] <= date_upper)]
    
    #closes = closes_all.loc[(closes_all['date_request'] > date_price_lower) & (closes_all['date_request'] <= date_upper)]
    #update to ensure that if the count increased inbetween the request for count and request for data, does not re-check
    #trend_table_rowcount_old = pd.read_sql_query("show table status like 'crypto_trend'", engine)['Rows'].values[0]

    ####################################################################################################################################

    

    if new_trends.empty:
        print(f"Dataframe empty for request: {new_trends_string}")
        check_data = False
        waiting = True
        
    date_request = new_trends[['crypto_id', 'date_request']].groupby(['crypto_id']).mean()
    #date_recent_checked = new_trends.date_request.max()

    try:
        trends = new_trends.pivot(index="date", columns="crypto_id", values="hype") #unbeliiiiieveevevevable !! https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html
    except:
        pd.set_option("display.max_rows", None, "display.max_columns", None)
        print(new_trends)
        

    #check buying and selling conditions
    check_100 = ((trends.iloc[-2] == 100) | (trends.iloc[-1] == 100)) ##check trends with current time
    check_non0 = trends.iloc[0:-2].mean() > 7 # 0:-2
    check_peak = (trends.iloc[0:-10] < buy_threshold).all()
    trend_indicate_buy = np.logical_and.reduce((check_100, check_non0, check_peak), dtype=bool)

    curr_id_list = trends.columns.values
    check_upward_ids = [curr_id_list[i] for i in [i for i, x in enumerate(trend_indicate_buy) if x]]
    

    buy_ids = []
    if check_upward_ids:
        #print(f"Indicate buy ids: {check_upward_ids} between {date_last_checked} : {date_recent_checked}")
        closes = pd.DataFrame()
        for key, crypto_id in enumerate(check_upward_ids):
            date_lower_str = str(date_request.loc[crypto_id]['date_request'] - datetime.timedelta(hours=2))
            date_upper_str = str(date_request.loc[crypto_id]['date_request'])
            #new_close_string = f"SELECT date, close FROM crypto_price WHERE crypto_id = {crypto_id} AND date > '{date_lower_str}' AND date <= '{date_upper_str}' ORDER BY date"
            #close = pd.read_sql_query(new_close_string, engine)
            
            ################ change from store all close to request ################
            close = closes_all.loc[ (closes_all['crypto_id'] == crypto_id) & (closes_all['date'] > date_lower_str) & (closes_all['date'] <= date_upper_str) ]
            #temp_close_string = f"SELECT crypto_id, date, close FROM crypto_price WHERE date >= '{date_lower_str}' AND date <= '{date_upper_str}' AND crypto_id = {crypto_id} ORDER BY date"
            #close = pd.read_sql_query(temp_close_string, engine) 
            ########################################################################

            close.index = pd.to_datetime(close['date'])
            close = close.drop(columns=['date', 'crypto_id'])
            close = close.rename(columns={"close": f"{crypto_id}"})

            if close.empty:
                print(f"Close emtpy for id {crypto_id} at buy at {date_lower_str} - {date_upper_str}")
            else:
                if (closes.empty):
                    closes = close
                else:
                    closes = closes.join(close)
        
        if(closes.empty):
            print("Closes empty")
            continue
        increase = closes.diff(periods=6)
        check_increase = (increase.iloc[-1] >= 0)
        
        

        indicate_buy = check_increase[check_increase].index.values.astype(int)
        #print(f"Indicate buy ids: {indicate_buy} between {date_last_checked} : {date_recent_checked}")
        
        curr_NOT_holding_ids = [full_id_list[i] for i in [i for i, x in enumerate(np.logical_not(holding)) if x]]
        buy_ids = list(set(indicate_buy).intersection(curr_NOT_holding_ids))

        

    check_decrease = np.logical_or((trends.iloc[-1] < sell_threshold), (trends.iloc[-2] < sell_threshold))
    indicate_sell = check_decrease[check_decrease].index.values.astype(int)
    #print(f"Indicate sell ids: {indicate_sell} between {date_last_checked} : {date_recent_checked}")

    curr_holding_ids = [full_id_list[i] for i in [i for i, x in enumerate(holding) if x]]
    sell_ids = list(set(indicate_sell).intersection(curr_holding_ids))


    # Buy control
    if ((sum(holding) < maxholds) and buy_ids):
        for id in buy_ids:
            if (sum(holding) < maxholds):
                key = full_id_list.index(id)
                tradetime = closes.index[-1]
                buyPrice[key] = closes.loc[tradetime,str(id)]
                buyTime[key] = tradetime
                holding[key] = True
                #print(f"Purchased {crypto_table.loc[crypto_table['id'] == id]['ticker'].values[0]} id {id}  at {buyPrice[key]} - {tradetime}")
            else:
                continue
            
    # Sell control
    if (sell_ids):
        for id in sell_ids:
            date_lower_str = str(date_request.loc[id]['date_request'] - datetime.timedelta(hours=2))
            date_upper_str = str(date_request.loc[id]['date_request'])
            #new_close_string = f"SELECT date, close FROM crypto_price WHERE crypto_id = {id} AND date > '{date_lower_str}' AND date <= '{date_upper_str}' ORDER BY date"
            #close = pd.read_sql_query(new_close_string, engine)       
            
            
            ################ change from store all close to request ################
            close = closes_all.loc[ (closes_all['crypto_id'] == id) & (closes_all['date'] > date_lower_str) & (closes_all['date'] <= date_upper_str) ]
            #temp_close_string = f"SELECT crypto_id, date, close FROM crypto_price WHERE date >= '{start_string_close}' AND date <= '{end_string}' AND crypto_id = {crypto_id} ORDER BY date"
            #close = pd.read_sql_query(temp_close_string, engine) 
            ########################################################################

            close.index = pd.to_datetime(close['date'])
            close = close.drop(columns=['date', 'crypto_id'])

            if close.empty:
                print(f"Close emtpy for id at sell {id} at {date_lower_str} - {date_upper_str}")

            # Sell execute function binance using ticker
            key = full_id_list.index(id)
            tradetime = close.index[-1]
            sellPrice[key] = close.loc[tradetime, 'close']
            sellTime[key] = tradetime
            #print(f"Trade completed: {crypto_table.loc[crypto_table['id'] == id]['ticker'].values[0]} id = {id} | open = {buyPrice[key]} at {buyTime[key]} | close = {sellPrice[key]} at {sellTime[key]} | profit = {(sellPrice[key]/buyPrice[key])}%")

            # upload to database
            quantity = 0
            trade = (id, buyTime[key], buyPrice[key], sellTime[key], sellPrice[key], str(sellTime[key] - buyTime[key]),  sellPrice[key]/buyPrice[key], quantity)
            index_names = ['crypto_id', 'date_buy', 'price_buy', 'date_sell', 'price_sell', 'trade_time', 'trade_return', 'quantity']
            result = pd.DataFrame([trade],columns=index_names)
            #print(result)
            tradedata.append([id, buyTime[key], sellTime[key], buyPrice[key], sellPrice[key], (sellPrice[key]/buyPrice[key]) ])
            holding[key] = False

Close emtpy for id 21 at buy at 2022-04-14 06:05:39 - 2022-04-14 08:05:39

In [23]:
tradedata

[[30,
  Timestamp('2022-04-03 14:00:00'),
  Timestamp('2022-04-03 17:00:00'),
  16.5,
  16.46,
  0.9975757575757577],
 [150,
  Timestamp('2022-04-03 15:00:00'),
  Timestamp('2022-04-03 19:00:00'),
  0.009054,
  0.009287,
  1.0257344819969074],
 [107,
  Timestamp('2022-04-03 19:00:00'),
  Timestamp('2022-04-03 20:00:00'),
  0.468,
  0.4666,
  0.997008547008547],
 [51,
  Timestamp('2022-04-03 20:00:00'),
  Timestamp('2022-04-03 21:00:00'),
  9.42,
  9.61,
  1.0201698513800423],
 [257,
  Timestamp('2022-04-03 22:00:00'),
  Timestamp('2022-04-03 23:00:00'),
  4.057,
  4.057,
  1.0],
 [230,
  Timestamp('2022-04-03 22:00:00'),
  Timestamp('2022-04-04 00:00:00'),
  0.30946,
  0.30014,
  0.9698830220383895],
 [8,
  Timestamp('2022-04-04 00:00:00'),
  Timestamp('2022-04-04 02:00:00'),
  1.711,
  1.694,
  0.9900642898889538],
 [154,
  Timestamp('2022-04-04 02:00:00'),
  Timestamp('2022-04-04 03:00:00'),
  525.94,
  528.98,
  1.0057801270106856],
 [112,
  Timestamp('2022-04-04 03:00:00'),
  Timestamp('2022-04-04 04:00:00'),
  0.8463,
  0.8437,
  0.9969278033794162],
 [272,
  Timestamp('2022-04-04 04:00:00'),
  Timestamp('2022-04-04 05:00:00'),
  1.0,
  0.9999,
  0.9999],
 [66,
  Timestamp('2022-04-04 06:00:00'),
  Timestamp('2022-04-04 08:00:00'),
  0.01353,
  0.01334,
  0.9859571322985956],
 [81,
  Timestamp('2022-04-04 05:00:00'),
  Timestamp('2022-04-04 12:00:00'),
  0.11887,
  0.11302,
  0.9507865735677631],
 [257,
  Timestamp('2022-04-04 12:00:00'),
  Timestamp('2022-04-04 13:00:00'),
  3.883,
  3.872,
  0.9971671388101983],
 [298,
  Timestamp('2022-04-04 16:00:00'),
  Timestamp('2022-04-04 18:00:00'),
  23832.31,
  23167.94,
  0.972123138713788],
 [261,
  Timestamp('2022-04-04 19:00:00'),
  Timestamp('2022-04-04 20:00:00'),
  47.11,
  46.96,
  0.9968159626406283],
 [272,
  Timestamp('2022-04-04 20:00:00'),
  Timestamp('2022-04-04 21:00:00'),
  1.0,
  1.0,
  1.0],
 [268,
  Timestamp('2022-04-04 22:00:00'),
  Timestamp('2022-04-05 02:00:00'),
  1.2855,
  1.2794,
  0.9952547646830028],
 [213,
  Timestamp('2022-04-05 03:00:00'),
  Timestamp('2022-04-05 04:00:00'),
  18.91,
  19.15,
  1.0126916975145426],
 [272,
  Timestamp('2022-04-05 05:00:00'),
  Timestamp('2022-04-05 07:00:00'),
  1.0001,
  1.0001,
  1.0],
 [36,
  Timestamp('2022-04-05 08:00:00'),
  Timestamp('2022-04-05 09:00:00'),
  12.26,
  12.15,
  0.9910277324632953],
 [200,
  Timestamp('2022-04-05 10:00:00'),
  Timestamp('2022-04-05 12:00:00'),
  0.0677,
  0.068,
  1.0044313146233383],
 [265,
  Timestamp('2022-04-05 15:00:00'),
  Timestamp('2022-04-05 17:00:00'),
  0.2845,
  0.2602,
  0.9145869947275923],
 [177,
  Timestamp('2022-04-04 21:00:00'),
  Timestamp('2022-04-05 19:00:00'),
  2.141,
  1.869,
  0.8729565623540402],
 [170,
  Timestamp('2022-04-05 20:00:00'),
  Timestamp('2022-04-05 21:00:00'),
  0.011745,
  0.011579,
  0.9858663260962112],
 [8,
  Timestamp('2022-04-05 22:00:00'),
  Timestamp('2022-04-05 23:00:00'),
  1.523,
  1.52,
  0.9980302035456337],
 [104,
  Timestamp('2022-04-05 18:00:00'),
  Timestamp('2022-04-05 23:00:00'),
  45.5,
  45.33,
  0.9962637362637362],
 [66,
  Timestamp('2022-04-06 02:00:00'),
  Timestamp('2022-04-06 03:00:00'),
  0.01241,
  0.01235,
  0.9951651893634167],
 [272,
  Timestamp('2022-04-06 04:00:00'),
  Timestamp('2022-04-06 05:00:00'),
  0.9998,
  0.9999,
  1.000100020004001],
 [241,
  Timestamp('2022-04-03 14:00:00'),
  Timestamp('2022-04-06 07:00:00'),
  0.0234,
  0.0247,
  1.0555555555555556],
 [106,
  Timestamp('2022-04-06 06:00:00'),
  Timestamp('2022-04-06 07:00:00'),
  111.0,
  110.4,
  0.9945945945945946],
 [272,
  Timestamp('2022-04-06 09:00:00'),
  Timestamp('2022-04-06 10:00:00'),
  1.0,
  0.9999,
  0.9999],
 [3,
  Timestamp('2022-04-06 10:00:00'),
  Timestamp('2022-04-06 11:00:00'),
  1.701,
  1.626,
  0.9559082892416225],
 [153,
  Timestamp('2022-04-06 12:00:00'),
  Timestamp('2022-04-06 13:00:00'),
  3.192,
  3.11,
  0.9743107769423558],
 [187,
  Timestamp('2022-04-06 15:00:00'),
  Timestamp('2022-04-06 16:00:00'),
  29.09,
  29.14,
  1.0017188037126161],
 [277,
  Timestamp('2022-04-06 17:00:00'),
  Timestamp('2022-04-06 18:00:00'),
  0.05529,
  0.05445,
  0.9848073792729246],
 [25,
  Timestamp('2022-04-06 19:00:00'),
  Timestamp('2022-04-06 20:00:00'),
  0.07994,
  0.08048,
  1.0067550662997249],
 [300,
  Timestamp('2022-04-06 21:00:00'),
  Timestamp('2022-04-06 22:00:00'),
  2.615,
  2.61,
  0.9980879541108986],
 [153,
  Timestamp('2022-04-06 23:00:00'),
  Timestamp('2022-04-07 00:00:00'),
  3.142,
  3.026,
  0.9630808402291534],
 [4,
  Timestamp('2022-04-07 02:00:00'),
  Timestamp('2022-04-07 04:00:00'),
  0.03893,
  0.0389,
  0.999229386077575],
 [49,
  Timestamp('2022-04-06 13:00:00'),
  Timestamp('2022-04-07 05:00:00'),
  2.623,
  2.531,
  0.9649256576439191],
 [172,
  Timestamp('2022-04-07 06:00:00'),
  Timestamp('2022-04-07 07:00:00'),
  2.38,
  2.38,
  1.0],
 [112,
  Timestamp('2022-04-07 08:00:00'),
  Timestamp('2022-04-07 10:00:00'),
  0.7011,
  0.6932,
  0.9887319925830839],
 [298,
  Timestamp('2022-04-07 11:00:00'),
  Timestamp('2022-04-07 12:00:00'),
  21717.41,
  21955.82,
  1.010977828387455],
 [73,
  Timestamp('2022-04-07 13:00:00'),
  Timestamp('2022-04-08 02:00:00'),
  1.559,
  1.455,
  0.9332905708787685],
 [161,
  Timestamp('2022-04-08 03:00:00'),
  Timestamp('2022-04-08 04:00:00'),
  25.36,
  25.37,
  1.0003943217665616],
 [168,
  Timestamp('2022-04-08 05:00:00'),
  Timestamp('2022-04-08 11:00:00'),
  4.807,
  4.669,
  0.971291866028708],
 [153,
  Timestamp('2022-04-08 13:00:00'),
  Timestamp('2022-04-08 14:00:00'),
  3.958,
  3.982,
  1.0060636685194542],
 [153,
  Timestamp('2022-04-08 15:00:00'),
  Timestamp('2022-04-08 19:00:00'),
  3.971,
  4.078,
  1.02694535381516],
 [257,
  Timestamp('2022-04-08 20:00:00'),
  Timestamp('2022-04-08 21:00:00'),
  3.466,
  3.464,
  0.9994229659549912],
 [272,
  Timestamp('2022-04-08 22:00:00'),
  Timestamp('2022-04-08 23:00:00'),
  1.0001,
  1.0002,
  1.000099990001],
 [8,
  Timestamp('2022-04-09 00:00:00'),
  Timestamp('2022-04-09 02:00:00'),
  1.273,
  1.26,
  0.9897879025923018],
 [33,
  Timestamp('2022-04-09 04:00:00'),
  Timestamp('2022-04-09 05:00:00'),
  1.596,
  1.6,
  1.0025062656641603],
 [174,
  Timestamp('2022-04-09 06:00:00'),
  Timestamp('2022-04-09 07:00:00'),
  0.238,
  0.237,
  0.9957983193277311],
 [8,
  Timestamp('2022-04-09 08:00:00'),
  Timestamp('2022-04-09 13:00:00'),
  1.263,
  1.289,
  1.0205859065716547],
 [268,
  Timestamp('2022-04-09 14:00:00'),
  Timestamp('2022-04-09 16:00:00'),
  1.1109,
  1.0949,
  0.9855972634800612],
 [204,
  Timestamp('2022-04-09 17:00:00'),
  Timestamp('2022-04-09 18:00:00'),
  0.956,
  0.962,
  1.006276150627615],
 [112,
  Timestamp('2022-04-09 19:00:00'),
  Timestamp('2022-04-09 22:00:00'),
  0.6938,
  0.694,
  1.0002882675122513],
 [260,
  Timestamp('2022-04-09 23:00:00'),
  Timestamp('2022-04-10 02:00:00'),
  1.196,
  1.207,
  1.0091973244147159],
 [220,
  Timestamp('2022-04-10 03:00:00'),
  Timestamp('2022-04-10 05:00:00'),
  0.584,
  0.587,
  1.00513698630137],
 [251,
  Timestamp('2022-04-10 06:00:00'),
  Timestamp('2022-04-10 10:00:00'),
  0.01745,
  0.01659,
  0.9507163323782235],
 [253,
  Timestamp('2022-04-06 02:00:00'),
  Timestamp('2022-04-10 10:00:00'),
  1.426,
  1.308,
  0.9172510518934082],
 [265,
  Timestamp('2022-04-10 11:00:00'),
  Timestamp('2022-04-10 12:00:00'),
  0.2128,
  0.2142,
  1.006578947368421],
 [256,
  Timestamp('2022-04-10 12:00:00'),
  Timestamp('2022-04-10 13:00:00'),
  0.1801,
  0.1796,
  0.997223764575236],
 [3,
  Timestamp('2022-04-10 13:00:00'),
  Timestamp('2022-04-10 14:00:00'),
  1.748,
  1.729,
  0.9891304347826088],
 [272,
  Timestamp('2022-04-10 14:00:00'),
  Timestamp('2022-04-10 15:00:00'),
  1.0004,
  1.0003,
  0.9999000399840065],
 [41,
  Timestamp('2022-04-10 16:00:00'),
  Timestamp('2022-04-10 17:00:00'),
  0.7562,
  0.7662,
  1.0132240148108966],
 [8,
  Timestamp('2022-04-10 15:00:00'),
  Timestamp('2022-04-10 19:00:00'),
  1.292,
  1.37,
  1.0603715170278638],
 [120,
  Timestamp('2022-04-10 18:00:00'),
  Timestamp('2022-04-10 19:00:00'),
  46.22,
  46.16,
  0.9987018606663781],
 [256,
  Timestamp('2022-04-10 21:00:00'),
  Timestamp('2022-04-10 22:00:00'),
  0.1827,
  0.1801,
  0.9857690202517789],
 [106,
  Timestamp('2022-04-10 23:00:00'),
  Timestamp('2022-04-11 00:00:00'),
  101.8,
  98.3,
  0.9656188605108055],
 [4,
  Timestamp('2022-04-11 01:00:00'),
  Timestamp('2022-04-11 03:00:00'),
  0.03818,
  0.03752,
  0.9827134625458355],
 [259,
  Timestamp('2022-04-11 02:00:00'),
  Timestamp('2022-04-11 05:00:00'),
  0.1052,
  0.1049,
  0.9971482889733839],
 [254,
  Timestamp('2022-04-11 04:00:00'),
  Timestamp('2022-04-11 05:00:00'),
  0.5451,
  0.5367,
  0.9845899834892679],
 [8,
  Timestamp('2022-04-11 07:00:00'),
  Timestamp('2022-04-11 08:00:00'),
  1.243,
  1.239,
  0.996781979082864],
 [272,
  Timestamp('2022-04-11 07:00:00'),
  Timestamp('2022-04-11 08:00:00'),
  1.0005,
  1.0005,
  1.0],
 [112,
  Timestamp('2022-04-11 13:00:00'),
  Timestamp('2022-04-11 14:00:00'),
  0.6332,
  0.6364,
  1.0050536955148452],
 [257,
  Timestamp('2022-04-11 15:00:00'),
  Timestamp('2022-04-11 16:00:00'),
  3.048,
  3.03,
  0.9940944881889763],
 [220,
  Timestamp('2022-04-11 12:00:00'),
  Timestamp('2022-04-11 16:00:00'),
  0.597,
  0.591,
  0.9899497487437185],
 [251,
  Timestamp('2022-04-11 17:00:00'),
  Timestamp('2022-04-11 18:00:00'),
  0.01523,
  0.01501,
  0.9855548260013132],
 [277,
  Timestamp('2022-04-11 18:00:00'),
  Timestamp('2022-04-11 19:00:00'),
  0.05369,
  0.0537,
  1.0001862544235425],
 [25,
  Timestamp('2022-04-11 21:00:00'),
  Timestamp('2022-04-11 22:00:00'),
  0.06585,
  0.06356,
  0.9652239939255884],
 [252,
  Timestamp('2022-04-11 19:00:00'),
  Timestamp('2022-04-12 00:00:00'),
  3.168,
  3.113,
  0.9826388888888888],
 [11,
  Timestamp('2022-04-11 23:00:00'),
  Timestamp('2022-04-12 01:00:00'),
  76.5,
  78.0,
  1.0196078431372548],
 [112,
  Timestamp('2022-04-12 01:00:00'),
  Timestamp('2022-04-12 02:00:00'),
  0.6465,
  0.6902,
  1.0675947409126065],
 [57,
  Timestamp('2022-04-12 02:00:00'),
  Timestamp('2022-04-12 04:00:00'),
  1.413,
  1.421,
  1.005661712668082],
 [66,
  Timestamp('2022-04-12 04:00:00'),
  Timestamp('2022-04-12 05:00:00'),
  0.01059,
  0.01069,
  1.0094428706326724],
 [107,
  Timestamp('2022-04-12 05:00:00'),
  Timestamp('2022-04-12 06:00:00'),
  0.3502,
  0.3604,
  1.029126213592233],
 [161,
  Timestamp('2022-04-12 06:00:00'),
  Timestamp('2022-04-12 07:00:00'),
  23.27,
  23.13,
  0.9939836699613236],
 [172,
  Timestamp('2022-04-12 07:00:00'),
  Timestamp('2022-04-12 08:00:00'),
  2.05,
  2.06,
  1.0048780487804878],
 [256,
  Timestamp('2022-04-12 08:00:00'),
  Timestamp('2022-04-12 09:00:00'),
  0.1619,
  0.1614,
  0.9969116738727609],
 [272,
  Timestamp('2022-04-12 10:00:00'),
  Timestamp('2022-04-12 11:00:00'),
  1.0004,
  1.0005,
  1.0000999600159937],
 [257,
  Timestamp('2022-04-12 12:00:00'),
  Timestamp('2022-04-12 14:00:00'),
  3.121,
  3.134,
  1.0041653316244794],
 [74,
  Timestamp('2022-04-12 09:00:00'),
  Timestamp('2022-04-12 15:00:00'),
  0.3533,
  0.3544,
  1.0031135012737051],
 [193,
  Timestamp('2022-04-12 16:00:00'),
  Timestamp('2022-04-12 17:00:00'),
  4.427,
  4.459,
  1.0072283713575785],
 [262,
  Timestamp('2022-04-12 16:00:00'),
  Timestamp('2022-04-12 17:00:00'),
  20.38,
  20.41,
  1.0014720314033367],
 [108,
  Timestamp('2022-04-12 20:00:00'),
  Timestamp('2022-04-12 21:00:00'),
  1.436,
  1.448,
  1.0083565459610029],
 [159,
  Timestamp('2022-04-12 21:00:00'),
  Timestamp('2022-04-12 22:00:00'),
  1.305,
  1.306,
  1.0007662835249043],
 [145,
  Timestamp('2022-04-12 23:00:00'),
  Timestamp('2022-04-13 00:00:00'),
  0.0205,
  0.0204,
  0.9951219512195122],
 [172,
  Timestamp('2022-04-12 22:00:00'),
  Timestamp('2022-04-13 00:00:00'),
  2.06,
  2.09,
  1.0145631067961165],
 [106,
  Timestamp('2022-04-13 02:00:00'),
  Timestamp('2022-04-13 03:00:00'),
  94.7,
  93.9,
  0.9915522703273496],
 [36,
  Timestamp('2022-04-13 01:00:00'),
  Timestamp('2022-04-13 04:00:00'),
  9.11,
  9.11,
  1.0],
 [202,
  Timestamp('2022-04-13 05:00:00'),
  Timestamp('2022-04-13 06:00:00'),
  4.22,
  4.21,
  0.9976303317535545],
 [74,
  Timestamp('2022-04-13 04:00:00'),
  Timestamp('2022-04-13 07:00:00'),
  0.3646,
  0.361,
  0.9901261656609984],
 [261,
  Timestamp('2022-04-13 08:00:00'),
  Timestamp('2022-04-13 16:00:00'),
  42.27,
  44.38,
  1.0499171989590725],
 [193,
  Timestamp('2022-04-13 18:00:00'),
  Timestamp('2022-04-13 19:00:00'),
  4.607,
  4.638,
  1.0067288908183198],
 [254,
  Timestamp('2022-04-13 20:00:00'),
  Timestamp('2022-04-13 22:00:00'),
  0.529,
  0.5404,
  1.0215500945179583],
 [102,
  Timestamp('2022-04-13 23:00:00'),
  Timestamp('2022-04-14 03:00:00'),
  0.2855,
  0.2585,
  0.905429071803853],
 [9,
  Timestamp('2022-04-13 08:00:00'),
  Timestamp('2022-04-14 09:00:00'),
  0.0917,
  0.0944,
  1.0294438386041438],
 [251,
  Timestamp('2022-04-14 04:00:00'),
  Timestamp('2022-04-14 09:00:00'),
  0.01514,
  0.01524,
  1.0066050198150593],
 [61,
  Timestamp('2022-04-14 10:00:00'),
  Timestamp('2022-04-14 11:00:00'),
  0.1682,
  0.1673,
  0.9946492271105827],
 [159,
  Timestamp('2022-04-14 10:00:00'),
  Timestamp('2022-04-14 11:00:00'),
  1.399,
  1.381,
  0.9871336669049321]]

In [24]:
gains = [(x[0], x[5]) for x in np.array(tradedata)]
sorted(gains, key = lambda x : x[1])

[(177, 0.8729565623540402),
 (102, 0.905429071803853),
 (265, 0.9145869947275923),
 (253, 0.9172510518934082),
 (73, 0.9332905708787685),
 (251, 0.9507163323782235),
 (81, 0.9507865735677631),
 (3, 0.9559082892416225),
 (153, 0.9630808402291534),
 (49, 0.9649256576439191),
 (25, 0.9652239939255884),
 (106, 0.9656188605108055),
 (230, 0.9698830220383895),
 (168, 0.971291866028708),
 (298, 0.972123138713788),
 (153, 0.9743107769423558),
 (252, 0.9826388888888888),
 (4, 0.9827134625458355),
 (254, 0.9845899834892679),
 (277, 0.9848073792729246),
 (251, 0.9855548260013132),
 (268, 0.9855972634800612),
 (256, 0.9857690202517789),
 (170, 0.9858663260962112),
 (66, 0.9859571322985956),
 (159, 0.9871336669049321),
 (112, 0.9887319925830839),
 (3, 0.9891304347826088),
 (8, 0.9897879025923018),
 (220, 0.9899497487437185),
 (8, 0.9900642898889538),
 (74, 0.9901261656609984),
 (36, 0.9910277324632953),
 (106, 0.9915522703273496),
 (161, 0.9939836699613236),
 (257, 0.9940944881889763),
 (106, 0.9945945945945946),
 (61, 0.9946492271105827),
 (145, 0.9951219512195122),
 (66, 0.9951651893634167),
 (268, 0.9952547646830028),
 (174, 0.9957983193277311),
 (104, 0.9962637362637362),
 (8, 0.996781979082864),
 (261, 0.9968159626406283),
 (256, 0.9969116738727609),
 (112, 0.9969278033794162),
 (107, 0.997008547008547),
 (259, 0.9971482889733839),
 (257, 0.9971671388101983),
 (256, 0.997223764575236),
 (30, 0.9975757575757577),
 (202, 0.9976303317535545),
 (8, 0.9980302035456337),
 (300, 0.9980879541108986),
 (120, 0.9987018606663781),
 (4, 0.999229386077575),
 (257, 0.9994229659549912),
 (272, 0.9999),
 (272, 0.9999),
 (272, 0.9999000399840065),
 (257, 1.0),
 (272, 1.0),
 (272, 1.0),
 (172, 1.0),
 (272, 1.0),
 (36, 1.0),
 (272, 1.0000999600159937),
 (272, 1.000099990001),
 (272, 1.000100020004001),
 (277, 1.0001862544235425),
 (112, 1.0002882675122513),
 (161, 1.0003943217665616),
 (159, 1.0007662835249043),
 (262, 1.0014720314033367),
 (187, 1.0017188037126161),
 (33, 1.0025062656641603),
 (74, 1.0031135012737051),
 (257, 1.0041653316244794),
 (200, 1.0044313146233383),
 (172, 1.0048780487804878),
 (112, 1.0050536955148452),
 (220, 1.00513698630137),
 (57, 1.005661712668082),
 (154, 1.0057801270106856),
 (153, 1.0060636685194542),
 (204, 1.006276150627615),
 (265, 1.006578947368421),
 (251, 1.0066050198150593),
 (193, 1.0067288908183198),
 (25, 1.0067550662997249),
 (193, 1.0072283713575785),
 (108, 1.0083565459610029),
 (260, 1.0091973244147159),
 (66, 1.0094428706326724),
 (298, 1.010977828387455),
 (213, 1.0126916975145426),
 (41, 1.0132240148108966),
 (172, 1.0145631067961165),
 (11, 1.0196078431372548),
 (51, 1.0201698513800423),
 (8, 1.0205859065716547),
 (254, 1.0215500945179583),
 (150, 1.0257344819969074),
 (153, 1.02694535381516),
 (107, 1.029126213592233),
 (9, 1.0294438386041438),
 (261, 1.0499171989590725),
 (241, 1.0555555555555556),
 (8, 1.0603715170278638),
 (112, 1.0675947409126065)]

In [2]:
from binance.client import Client
api_key = 'ihvXWbHvvDrYuroIJOS9ANW6X7tv5OQSYibLLloKyIGui0w93Q5yUJOBZclnNL5D'
api_secret = 'uzmKBJ3lmVS4TsTl2AOHVJOYTFfLM5qrg00vAqUyTYbSjiy7BDPlTpaq2Oy7qdo2'
client = Client(api_key, api_secret)
liveprice = client.get_symbol_ticker(symbol='1INCHUSDT')['price']

In [7]:
float(liveprice)*0.99

1.31967

In [7]:
closes

                        31     67      144
date
2022-04-14 05:15:00  1.163  0.352  0.05930
2022-04-14 05:30:00  1.187  0.352  0.05921
2022-04-14 05:45:00  1.215  0.352  0.05933
2022-04-14 06:00:00  1.255  0.352  0.05916
2022-04-14 06:15:00  1.260  0.349  0.05945
2022-04-14 06:30:00  1.280  0.348  0.05943
2022-04-14 06:45:00  1.285  0.348  0.05939
2022-04-14 07:00:00  1.280  0.349  0.05930

In [8]:
close

                        31
date
2022-04-14 06:15:00  1.260
2022-04-14 06:30:00  1.280
2022-04-14 06:45:00  1.285
2022-04-14 07:00:00  1.280
2022-04-14 07:15:00  1.309
2022-04-14 07:30:00  1.297
2022-04-14 07:45:00  1.284
2022-04-14 08:00:00  1.272

In [10]:
check_upward_ids

[21, 31, 60, 106, 215, 220, 252, 257, 272]

In [12]:
closes_all.loc[ (closes_all['crypto_id'] == 21)]

Empty DataFrame
Columns: [crypto_id, date, close]
Index: []

In [15]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []